<form action="" method="post">
    <style>
        body {
            background-color: rgb(36, 38, 60);
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
            align-items: center;
        }
        form {
            margin: 15px;
            padding: 30px;
            border-radius: 25px;
            background-color: rgb(36, 38, 60);
            align-items: center;
        }
        .form-group {
            margin-bottom: 15px;
            color: black;
        }
        .form-group label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            color :rgb(255, 255, 255);
            align-items: center;
            justify-content: center;
        }
        .form-group input {
            width: 50%;
            padding: 10px;
            background-color:rgb(255, 255, 255);
            border-radius: 25px;
            border-style: solid;
            align-items: center;
        }
        input[type=submit] {
            background-color: rgb(81, 141, 197);
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 25px;
            align-items: center;
        }
        input[type=submit]:hover {
            background-color: rgb(78, 187, 233);
        }
        .form-group select {
            width: 50%;
            padding: 10px;
            background-color:rgb(255, 255, 255);
            border-radius: 25px;
            border-style: solid;
            align-items: center;
        }
    </style>
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ Form.username.id_for_label }}">
            Nombre de Usuario:
        </label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="{{Form.email.id_for_label }}">
            Correo Electrónico:
        </label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="{{ Form.password1.id_for_label }}">
            Contraseña:
        </label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="{{ Form.password2.id_for_label }}">
            Confirmar Contraseña:
        </label>
        {{ form.password2 }}
    </div>
    <div class="form-group">
        <label for="{{ Form.group.id_for_label }}">
            Rol:
        </label>
        {{ form.group }}
    </div>

    <input type="submit" value="Registrar">
</form>